<tr>
    <td>{{@contract}}</td>
    <td>
        {{#each @gamePlayers as |player idx|}}
            {{#if player}}{{idx}}{{/if}}
        {{/each}}
    </td>
    {{#each @gamePlayers as |player idx|}}
        <td>{{get @pointsEarned idx}}</td><td>{{get @pointsTotal idx}}</td>
    {{/each}}
</tr>