<h1>Zoek rondes</h1>
{{!-- input field voor te zoeken --}}
{{!-- Zoek submit knop --}}
{{!-- voor elke ronde: <Table></Table> met juiste attributen? --}}

{{#each @model.rounds as |round|}}
    <Table
        @readOnly={{true}}
        @playernames={{round.players}}
        @games={{round.games}}
    />
{{/each}}