<h1>Zoek rondes</h1>
{{!-- input field voor te zoeken --}}
{{!-- Zoek submit knop --}}
{{!-- voor elke ronde: <Table></Table> met juiste attributen? --}}


<Table
    @readOnly={{true}}
    @playernames={{array "A" "B" "C" "D"}}
    @games={{@model}}
/>