{{page-title "table"}}

<table border="1">
  <tr>
    <th>SPEL</th>
    <th>SPELERS</th>
    <th colspan="2">Alice</th>
    <th colspan="2">Bob</th>
    <th colspan="2">Charlie</th>
    <th colspan="2">Dana</th>
  </tr>
  <tr>
    <td>Vraag mee</td>
    <td>3, 1</td>
    <td>2</td><td>2</td>
    <td>-2</td><td>-2</td>
    <td>2</td><td>2</td>
    <td>-2</td><td>-2</td>
  </tr>
  <tr>
    <td>Vraag mee</td>
    <td>2, 4</td>
    <td>-4</td><td>-2</td>
    <td>4</td><td>2</td>
    <td>-4</td><td>-2</td>
    <td>4</td><td>2</td>
  </tr>
  <tr>
    <td>Vraag mee</td>
    <td>1, 2</td>
    <td>-6</td><td>-8</td>
    <td>-6</td><td>-4</td>
    <td>6</td><td>4</td>
    <td>6</td><td>8</td>
  </tr>
</table>
<style>
    td{
        min-width: 5vw;
    }
</style>